{% extends 'base.html' %}

{% block content %}

    <h1>Series and number: </h1>{{ card.series }} {{ card.number }}<br>
    <h1>Release date: </h1>{{ card.release_date|date:"d.m.Y H:i" }}<br>
    <h1>Expiry date: </h1>{{ card.expiry_date|date:"d.m.Y H:i" }}<br>
    <h1>Status: </h1>{{ card.status }}<br>
    <h1>Purchases: </h1>
    {%  if card.purchases.all %}
        {% for purchase in card.purchases.all %}
            <u> {{ purchase.date|date:"d.m.Y H:i" }} </u><br>
            {% for item in purchase.items.all %}
                {{ item.title }} ({{ item.amount }} pcs) {{ item.price }}$ <br>
            {% endfor %}
        {% endfor %}
    {% else %}
        There are no purchases with this card yet.<br>
    {% endif %}

<button type="button">
    <a href="{% url 'card_delete' card.pk %}">Delete</a>
</button>

<button type="button">
    <a href="{% url 'card_update' card.pk %}">Update status</a>
</button>
{% endblock %}